[submodule "LoRaMeshLibrary"]
	path = LoRaMeshLibrary
	url = git@github.com:dntoll/LoRaMeshLibrary.git
[submodule "ANSIConsole"]
	path = ANSIConsole
	url = git@github.com:dntoll/ANSIConsole.git
[submodule "MicropythonGitDeploy"]
	path = MicropythonGitDeploy
	url = git@github.com:dntoll/MicropythonGitDeploy.git
